.input_container {
	height: 30px;
	overflow: hidden;
}
.input_container input {
	height: 20px;
	width: 200px;
	padding: 3px;
	border: 1px solid #cccccc;
	border-radius: 0;
}
.input_container ul {
    background: #f3f3f3 none repeat scroll 0 0;
    border: 1px solid #ddd;
    line-height: 20px;
    list-style: outside none none;
    margin-top: 0;
    padding: 5px;
    position: absolute;
    width: 250px;
    z-index: 9;
	margin-left:104px;
}

.input_container ul li:hover {
		color:#fff;
		background-color:#3f403e;		
}

.input_container ul li {
	padding: 2px;
	cursor: pointer;
}

#familles_list_id {
	display: none;
}

.img-autocomplate{
	float: right;
}




/*******************************************************************************/
